.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.color_titulo {
    color: blueviolet;
}

.color_numero {
    color: blue;
    font-size: 68px;
}

.button {
    display: inline-block;
    background-color: #008CBA;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
  }
  .button2 {
    background-color: #f44336;
  }
  body {
    margin: 0;
    padding: 0;
}

.toolbar {
    background-color: #97A5BC;
    width: 1220px;
    height: 70px;
}

#hour {
    background-color: white;
	border-radius: 5px;
    position: absolute;
    left: 40px;
    top: 15px;
    width: 70px;
    height: 40px;
    font-size: 15px;
}

#hourlabel {
    position: absolute;
    left: 85px;
    top: 23px;
    font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
    font-size: 16px;
    color: #222222
}

#minute {
    background-color: white;
	border-radius: 5px;
    position: absolute;
    left: 130px;
    top: 15px;
    width: 70px;
    height: 40px;
    font-size: 15px;
}

#minutelabel {
    position: absolute;
    left: 175px;
    top: 23px;
    font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
    font-size: 16px;
    color: #222222
}

#second {
    background-color: white;
	border-radius: 5px;
    position: absolute;
    left: 220px;
    top: 15px;
    width: 70px;
    height: 40px;
    font-size: 15px;
}

#secondlabel {
    position: absolute;
    left: 265px;
    top: 23px;
    font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
    font-size: 16px;
    color: #222222
}

#countup {
    background-color: #2188E9;
	border-radius: 5px;
	border-color: #2188E9;
    position: absolute;
    left: 310px;
    top: 15px;
    width: 98px;
	height: 40px;
	font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
	font-size: 16px;
	color: #FFFFFF
}

#countdown {
    background-color: #2188E9;
	border-radius: 5px;
	border-color: #2188E9;
    position: absolute;
    left: 428px;
    top: 15px;
    width: 98px;
	height: 40px;
	font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
	font-size: 16px;
	color: #FFFFFF
}

#time {
    position: static;
    left: 131px;
    top: 197px;
    font-size: 200px;
    font-family: PTMono-Bold, "PT Mono", monospace;
    font-weight: 700;
    color: #333333
}

#hint {
    position: absolute;
    left: 40px;
    top: 24px;
    font-family: PTMono-Bold, "PT Mono", monospace;
    font-size: 16px;
    color: white;
}

#pause {
    background-color: #2188E9;
	border-radius: 5px;
	border-color: #2188E9;
    position: absolute;
    left: 227px;
    top: 15px;
    width: 98px;
	height: 40px;
	font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
	font-size: 16px;
	color: #FFFFFF    
}

#clear {
    background-color: #DD2E1D;
	border-radius: 5px;
	border-color: #DD2E1D;
    position: absolute;
    left: 964px;
    top: 15px;
    width: 98px;
	height: 40px;
	font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
	font-size: 16px;
	color: #FFFFFF
}

#restart {
    background-color: #FFB020;
	border-radius: 5px;
	border-color: #FFB020;
    position: absolute;
    left: 1082px;
    top: 15px;
    width: 98px;
	height: 40px;
	font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
	font-size: 16px;
	color: #FFFFFF
}

#resume {
    background-color: #2188E9;
	border-radius: 5px;
	border-color: #2188E9;
    position: absolute;
    left: 227px;
    top: 15px;
    width: 98px;
	height: 40px;
	font-family: PingFangSC-Regular, "PingFang SC", sans-serif;
	font-size: 16px;
	color: #FFFFFF    
}